@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    min-height: 100vh;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    background: linear-gradient(135deg, #290000, #00003a);
    background-size: 100% 100%;
    animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main .image-container {
    padding: 10px;
}

.main .image-container .image {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main .image-container .image img {
    width: 400px;
    align-items: center;
    animation: botFloat 4.5s ease-in-out infinite alternate, fadeIn 4.5s ease forwards; /* Bot floating animation and fade-in animation */
}
@keyframes botFloat {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(-40px); /* Move up halfway */
    }
    100% {
        transform: translateY(-20px); /* Move back to original position */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px); /* Initial position slightly above */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Move to final position */
    }
}

@keyframes textAnimation {
    0% {
        opacity: 0;
        transform: translateY(-10px); /* Initial position slightly above */
    }
    100% {
        opacity: 1;
        transform: translateY(0); /* Move to final position */
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/*................................................................................................................*/


.main .image-container h1{
    color: aliceblue;
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 35px;
}
#name{
    color: #d1288b;
    font-size: 45px;
}
#va{
    color: #25a3c9;
    font-size: 44px;
}
#voice{
    width: 150px;
    display: none;
}
#btn{
    width: 30%;
    background: linear-gradient(to right, rgb(21,145,207), rgb(201,41,116));
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    border-radius: 20px;
    color: white;
    box-shadow: 2px 2px 10px rgb(21,145,207),2px 2px 10px rgb(201,41,116);
    border: none;
    transition: all 0.5s;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 2px 2px 20px rgb(21,145,207),2px 2px 20px rgb(201,41,116);
    letter-spacing: 2px;
}

#copyright{
    padding: 41px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 20px;
    position: absolute;
    top: 42vw; 
}
#love{
    color: #d1288b;
}
#padmasree{
    color: #25a3c9;
}





@media only screen and (max-width: 500px) {
    /* Styles for phones */
    .main .image-container .image img {
        width: 80%; /* Adjusted width for the image on mobile */
        max-width: 300px; /* Maximum width for the image on mobile */
    }
}

/* Mobile - L size - main Mobile*/
@media only screen and (max-width: 425px){
    .main .image-container h1{
        color: aliceblue;
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
    }
    #name{
        color: #d1288b;
        font-size: 23px;
    }
    #va{
        color: #25a3c9;
        font-size: 23px;
    }
    #voice{
        width: 150px;
        display: none;
        
    }
    #btn{
        width: 90%;
        background: linear-gradient(to right, rgb(21,145,207), rgb(201,41,116));
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        border-radius: 20px;
        color: white;
        box-shadow: 2px 2px 10px rgb(21,145,207),2px 2px 10px rgb(201,41,116);
        border: none;
        transition: all 0.5s;
        cursor: pointer;
    }
    #btn:hover{
        box-shadow: 2px 2px 20px rgb(21,145,207),2px 2px 20px rgb(201,41,116);
        letter-spacing: 2px;
    }
    
    #copyright{
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 20px;
        position: absolute;
        top: 180vw; 
    }
    #love{
        color: #d1288b;
    }
    #padmasree{
        color: #25a3c9;
    }
}


/* Mobile - M size */
@media only screen and (max-width: 375px){
    .main .image-container h1{
        color: aliceblue;
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
    }
    #name{
        color: #d1288b;
        font-size: 22px;
    }
    #va{
        color: #25a3c9;
        font-size: 22px;
    }
    #voice{
        width: 150px;
        display: none;
        
    }
    #btn{
        width: 90%;
        background: linear-gradient(to right, rgb(21,145,207), rgb(201,41,116));
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        border-radius: 20px;
        color: white;
        box-shadow: 2px 2px 10px rgb(21,145,207),2px 2px 10px rgb(201,41,116);
        border: none;
        transition: all 0.5s;
        cursor: pointer;
    }
    #btn:hover{
        box-shadow: 2px 2px 20px rgb(21,145,207),2px 2px 20px rgb(201,41,116);
        letter-spacing: 2px;
    }
    
    #copyright{
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 20px;
        position: absolute;
        top: 200vw; 
    }
    #love{
        color: #d1288b;
    }
    #padmasree{
        color: #25a3c9;
    }
}


/* Mobile - small size */
@media only screen and (max-width: 320px){
    .main .image-container h1{
        color: aliceblue;
        font-family: "Protest Guerrilla", sans-serif;
        font-weight: 400;
        font-style: normal;
        font-size: 15px;
    }
    #name{
        color: #d1288b;
        font-size: 20px;
    }
    #va{
        color: #25a3c9;
        font-size: 20px;
    }
    #voice{
        width: 150px;
        display: none;
        
    }
    #btn{
        width: 90%;
        background: linear-gradient(to right, rgb(21,145,207), rgb(201,41,116));
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        font-size: 20px;
        border-radius: 20px;
        color: white;
        box-shadow: 2px 2px 10px rgb(21,145,207),2px 2px 10px rgb(201,41,116);
        border: none;
        transition: all 0.5s;
        cursor: pointer;
    }
    #btn:hover{
        box-shadow: 2px 2px 20px rgb(21,145,207),2px 2px 20px rgb(201,41,116);
        letter-spacing: 2px;
    }
    
    #copyright{
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-size: 20px;
        position: absolute;
        top: 230vw; 
    }
    #love{
        color: #d1288b;
    }
    #padmasree{
        color: #25a3c9;
    }
}
